<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <div class="headhshot">
            <img src="~/Assets/images/MarkZuckerberg.jpg">
        </div>
        <div class="card-block">
            <h3 class="card-title">馬克.祖柏克</h3>
            <p class="card-text">FB創辦人</p>
            <a href="#">Wiki</a>
        </div>
    </div>
</div>
