@model A6409001_WebPD_Week7.Models.Card

<div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
    <div class="card">
        <div class="headhshot">
            <img src="~/Assets/images/@Model.Photo" />
        </div>
        <div class="card-block">
            <h3 class="card-title">@Model.Name</h3>
            <p class="card-text">@Model.Brief</p>
            <a href="@Model.WikiUrl">WikiUrl</a>
        </div>
    </div>
</div>