<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>140.137.41.136:5556</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/A5420876/MyMVCHW004WebAPIs</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ccpcsiepccu</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Model1" Order="1" Enabled="False">
          <Destination Path="Data Source=140.137.41.136,5557\SQLEXPRESS;Initial Catalog=A5420876;Persist Security Info=True;User ID=A5420876;Password=$A542!0876s" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MyMVCHW004WebAPIs.Models.Model1, MyMVCHW004WebAPIs" MigrationConfiguration="MyMVCHW004WebAPIs.Migrations.Configuration, MyMVCHW004WebAPIs" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Model1-Web.config Connection String">
      <ParameterValue>Data Source=140.137.41.136,5557\SQLEXPRESS;Initial Catalog=A5420876;Persist Security Info=True;User ID=A5420876;Password=$A542!0876s</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>