
@{
    ViewBag.Title = "FromWeek3_1";
}

<h2>FromWeek3_1</h2>

<ul>
    <li>訊息: @TempData["Message"]</li>
    <li>來源: @TempData["Name"]</li>
    <li>時間: @TempData["Time"]</li>

    <li>ViewBag.Msg: @ViewBag.Msg</li>

</ul>
