@model A6409001_WebPD_Week3.Models.Employee
@*@{
    ViewBag.Title = "EmployeeOneStringType";
}*@

<h2>EmployeeOneStringType</h2>

<ul>
    <li>訊息: @Model.ID</li>
    <li>來源: @Model.Name</li>
    <li>電話: @Model.Phone</li>
    <li>時間: @Model.Email</li>


</ul>