@{
    ViewBag.Title = "網站首頁";
}

<div align="center">
    <br />
    <b class="label label-danger" style="font-size:x-large">網站首頁</b>
    <br /> <br />
    <h3>
        @Html.ActionLink("BMI服務", "BMICompute", "BMI", null, new { @class = "btn btn-success btn-md" })
        @Html.ActionLink("進位服務", "CarryCompute", "Carry", null, new { @class = "btn btn-success btn-md" })
    </h3>
</div>