

@{
    ViewBag.Title = "CreateUser";
}

<h2>Create User</h2>

@using(Html.BeginForm("CreateUser", "Admin", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">

        </div>
    </div>
}
