
@{
    ViewBag.Title = "lineFill";
}

<h2>lineFill</h2>

<div class="row">
    <div class="col=md-6">
        <canvas id="chart1"></canvas>
    </div>
    <div class="col=md-6">
        <canvas id="chart2"></canvas>
    </div>
    <div class="col=md-6">
        <canvas id="chart3"></canvas>
    </div>
    <div class="col=md-6">
        <canvas id="chart4"></canvas>
    </div>
    <div class="col=md-6">
        <canvas id="chart5"></canvas>
    </div>
    <div class="col=md-6">
        <canvas id="chart6"></canvas>
    </div>
</div>



<script>
    var ctx1 = document.getElementById("chart1");
    var ctx2 = document.getElementById("chart2");
    var ctx3 = document.getElementById("chart3");
    var ctx4 = document.getElementById("chart4");

    lineChart(ctx1, false);
    lineChart(ctx2, 'origin');
    lineChart(ctx3, 'start');
    lineChart(ctx4, 'end');
    function lineChart(context, fillmode){
        var chart = new Chart(context, {
            type: "line",
            data: {
                labels: ['1月', '2月', '3月', '4月', '5月', '6月'],
                datasets: [{
                    label: "台北",
                    data: [16, 15, 18, -21, 25, 27],
                    fill: fillmode,
                    backgroundColor: '(255,165,0,0,3)',
                    borderColor: 'rgb(255,165,0)',
                    pointStyle: 'circle',
                    pointBackgroundColor: 'rgb(0,255,0)',
                    pointRadius: 5,
                    pointHoverRadius: 10,
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    fontSize: 18,
                    text: 'fill=' + fillmode
                },
                tooltips: {
                    mode: 'point',
                    interseet: true
                },
                legend: {
                    position: "bottom",
                    labels: {
                        fontColor: 'black'
                    }

                }
            }
        });
    };


</script>